
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 400px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    background-color: black;
}

#sunshineBliss {
    border: 1px solid black;
    position: absolute;
    width: 462px;
    height: 603px;
    background: #FFFFFF;
}

#sunshineBliss .group60 {
    position: absolute;
    width: 343px;
    height: 24px;
    left: 59px;
    top: 39px;
    display: flex; /* Added to make flex layout */
    align-items: center; /* Center items vertically */
}



#sunshineBliss .group60 .bogo {
    font-family: 'Inter', sans-serif; /* Added 'Inter' font */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FF6B82;
    margin: 0 10px; /* Added margin for spacing */
}


#sunshineBliss .group60 .line19,
#sunshineBliss .group60 .line22 {
    flex: 1; /* This will make the line take up all available space */
    height: 0.903803px;
    border-top: 0.903803px solid #C8C8C8;
}

#sunshineBliss .section {
    position: absolute;
    padding: 0px;
    top: 82px;
    left: 59px;

}

#sunshineBliss .section .rectangle1 {
    margin-bottom: 20px;
    padding: 0px;
    width: 341px;
    height: 74.11px;
    background: #FFFFFF;
    border-color: black;
    border: 0.9px solid #C8C8C8;
    transition: height 0.1s ease;
}


#sunshineBliss .section .rectangle1.toggle {
    height: 174.11px;
    background: #FFF9FA;
}



#sunshineBliss .section .rectangle2 {
    margin-bottom: 20px;
    padding: 0px;
    width: 341px;
    height: 74.11px;
    background: #FFFFFF;
    border-color: black;
    border: 0.9px solid #C8C8C8;
    transition: height 0.1s ease;
}


#sunshineBliss .section .rectangle2.toggle {
    height: 174.11px;
    background: #FFF9FA;
}


#sunshineBliss .section .rectangle3 {
    margin-bottom: 75px;
    width: 341px;
    height: 74.11px;
    background: #FFFFFF;
    border-color: black;
    border: 0.9px solid #C8C8C8;
    transition: height 0.1s ease;   
}


#sunshineBliss .section .rectangle3.toggle {
    height: 174.11px;
    background: #FFF9FA;
}


#sunshineBliss .section .circle {
    width: 14.46px;
    height: 14.46px;
    border-radius: 50%;
    border: 0.9px solid #FF6B82; 
    background-color: white;
    position: relative;
    transition: top 0.3s ease; 
    display: grid;
    place-items: center;
    left: 22px;
    top: 27.85px;
}


#sunshineBliss .section .circle .dot {
    width: 9.04px;
    height: 9.04px;
    border-radius: 50%;
    background-color: #FF6B82;
    position: absolute;
    transition: top 0.2s ease;
    visibility: hidden;
}

#sunshineBliss .section .circle .dot.visible {
    visibility: visible;
}

#sunshineBliss .section .standardPrice {
    width: 84px;
    height: 15px;
    left: 50.23px;
    top: -60px;
    color: black;
    position: relative;
    transition: top 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}


#sunshineBliss .section .standardPrice.toggle {
    top: -36px;
}


#sunshineBliss .section .unit1 {
    width: 42px;
    height: 18px;
    left: 49.23px;
    top: 5.42px;
    color: black;
    position: relative;
    transition: top 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 16.94px;
}

#sunshineBliss .section .unit2 {
    width: 42px;
    height: 18px;
    left: 49.23px;
    top: 11px;
    color: black;
    position: relative;
    transition: top 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 16.94px;
}

#sunshineBliss .section .unit3 {
    width: 42px;
    height: 18px;
    left: 49.23px;
    top: 11px;
    color: black;
    position: relative;
    transition: top 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 16.94px;
}

#sunshineBliss .section .discount {
    width: 55px;
    height: 17px;
    left: 48.77px;
    top: -17px;
    background-color: #FF6B82;
    display: grid;
    place-items: center;
    color: white;
    border-radius: 1px;
    position: relative;
    transition: top 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
}

#sunshineBliss .section .priceTag {
    width: 85px;
    height: 18px;
    left: 234px;
    top: -12.5px;
    color: black;
    position: relative;
    transition: top 0.1s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14.46px;
    line-height: 17.5px;
}

#sunshineBliss .section .spriceTag {
    width: 58px;
    height: 12px;
    left: 234px;
    top: -12.5px;
    opacity: 30%;
    color: black;
    position: relative;
    transition: top 0.1s ease;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
}

#sunshineBliss .section .sizeTitle {
    width: 20px;
    height: 12px;
    left: 66.23px;
    top: 7.61px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9.94px;
    line-height: 12.03px;
    visibility: hidden;
    position: relative;
}

#sunshineBliss .section .sizeTitle.toggle {
    visibility: visible;
}

#sunshineBliss .section .colorTitle {
    width: 20px;
    height: 12px;
    left: 139.44px;
    top: -4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 9.94px;
    line-height: 12.03px;
    visibility: hidden;
    position: relative;
}

#sunshineBliss .section .colorTitle.toggle {
    visibility: visible;
}

#sunshineBliss .section .number1 {
    height: 11px;
    width: 10px;
    left: 49.06px;
    top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9.04px;
    line-height: 10.94px;
    position: relative;
    visibility: hidden;
}

#sunshineBliss .section .number1.toggle {
    visibility: visible;
}

#sunshineBliss .section .number2 {
    height: 11px;
    width: 10px;
    left: 49.06px;
    top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9.04px;
    line-height: 10.94px;
    position: relative;
    visibility: hidden;
}

#sunshineBliss .section .number2.toggle {
    visibility: visible;
}

#sunshineBliss .section .number3 {
    height: 11px;
    width: 10px;
    left: 49.06px;
    top: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 9.04px;
    line-height: 10.94px;
    position: relative;
    visibility: hidden;
}

#sunshineBliss .section .number3.toggle {
    visibility: visible;
}

#sunshineBliss .freeDelivery {
    position: absolute;
    width: 89px;
    height: 17px;
    left: 58px;
    top: 460px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #FF6B82;
}

#sunshineBliss .total {
    position: absolute;
    width: 125px;
    height: 17px;
    left: 274px;
    top: 460px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
}

#sunshineBliss .frame628527 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 4px;
    gap: 8px;
    position: absolute;
    width: 342px;
    height: 40px;
    left: 58px;
    top: 497px;
    background: #FF6B82;
    border-radius: 4px;
}

#sunshineBliss .frame628527 .plus{
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translate(0, -25%);
    padding: 0px;
    font-style: normal;
    color: white;
    font-size: 25px;
    line-height: 20px;
}


#sunshineBliss .frame628527 .addToCart{
    width: 68px;
    height: 15px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14.52px;
}




#sunshineBliss .poweredByPumper {
    position: absolute;
    width: 129px;
    height: 15px;
    left: 271px;
    top: 542px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#sunshineBliss .b1 {
    width: 140px;
    height: 25.31px;
    position: relative;
    left: 125.23px;
    top: 170px;
    z-index: -10;
    transition: 0.1s ease;
}

#sunshineBliss .b1.toggle {
    z-index: 1;
}

#sunshineBliss .b1SizeSelect1 {
    width: 65.98px;
    height: 25.31px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b1ColorSelect1 {
    width: 65.98px;
    height: 25.31px;
    left: 3px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}


#sunshineBliss .b2 {
    width: 140px;
    height: 55px;
    position: relative;
    left: 125.23px;
    top: 240px;
    z-index: -10;
    transition: 0.1s ease;

}

#sunshineBliss .b2.toggle {
    z-index: 1;
}

#sunshineBliss .b2SizeSelect1 {
    width: 65.98px;
    height: 25.31px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b2SizeSelect2 {
    width: 65.98px;
    height: 25.31px;
    top: 29px;
    left: -70.98px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b2ColorSelect1 {
    width: 65.98px;
    height: 25.31px;
    left: 73.98px;
    top: -25.5px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b2ColorSelect2 {
    width: 65.98px;
    height: 25.31px;
    left: 4px;
    top: 4px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}


#sunshineBliss .b3 {
    width: 140px;
    height: 80px;
    position: relative;
    left: 125.23px;
    top: 280px;
    z-index: -10;
    transition: 0.1s ease;

}

#sunshineBliss .b3.toggle {
    z-index: 1;
}

#sunshineBliss .b3SizeSelect1 {
    width: 65.98px;
    height: 25.31px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b3SizeSelect2 {
    width: 65.98px;
    height: 25.31px;
    top: 30px;
    left: -70.98px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b3SizeSelect3 {
    width: 65.98px;
    height: 25.31px;
    top: 35px;
    left: 0px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b3ColorSelect1 {
    width: 65.98px;
    height: 25.31px;
    left: 3px;
    top: -25px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b3ColorSelect2 {
    width: 65.98px;
    height: 25.31px;
    left: 73.5px;
    top: -20px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}

#sunshineBliss .b3ColorSelect3 {
    width: 65.98px;
    height: 25.31px;
    left: 3px;
    top: 10px;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-size: 10.85px;
    line-height: 13.13px;
}